<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>الرئيسية</title>
    <!-- Css -->
    <link rel="stylesheet" href="style/all.css">
    <link rel="stylesheet" href="style/main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/locale/ar.min.js"></script>

    <style>
        @media print {
            main {
                margin: 0;
                width: 100%;
            }

            .sidebar,
            .date,
            .class-statistics {
                display: none;
            }

            .section-header h2 {
                font-size: 22px;
                color: #0075ff;
            }

            nav h3 {
                text-align: center;
                animation: none;
            }

            table tr th {
                background-color: #0075ff;
                color: #000;
            }

            table,
            tr,
            td,
            th {
                border: 1px solid #000;
            }

            .list-table {
                display: table;
            }

            .nwePage {
                page-break-before: always;
            }

            .view .container table tr th {
                color: #000;
            }

            th {
                background-color: #fff;
                color: #000;
                font-size: 14px;
            }

            td {
                font-size: 10px;
                padding: 3px;
                font-size: 14px;
            }

            .print {
                display: none;
            }

            .header img {
                width: 60px;
            }

            nav h3 {
                font-size: 16px;
            }

            .home .container {
                gap: 5px;
            }
            .nav-hiden {
                display: block;
            }
        }
    </style>
</head>

<body>
    <!-- SideBar -->
    <section class="sidebar" id="sidebar">
        <span class="open-close-sidebar" onclick="openCloseSidebar()">
            <i class="fa-regular fa-circle-left" id="openIcon"></i>
        </span>

        <section class="contact">
            <ul>
                <li>
                    <a href="/">
                        <i class="fa-solid fa-house"></i>
                        <span>الرئيسية</span>
                    </a>
                </li>
                <li>
                    <a href="/pages/add.html">
                        <i class="fa-solid fa-user-plus"></i>
                        <span>إضافة طالب</span>
                    </a>
                </li>
                <li>
                    <a href="/pages/list.html">
                        <i class="fa-solid fa-table-cells"></i>
                        <span>القائمة</span>
                    </a>
                </li>
            </ul>
        </section>

        <section class="personal">
            <img src="" alt="">
        </section>
    </section>
    <!-- SideBar -->

    <main>
        <!-- header -->
        <header class="header">
            <img src="images/logo.jpg" alt="">
        </header>
        <!-- header -->

        <!-- navbar -->
        <nav style="text-align: center;">
            <h3>مدارس المعالي الإبداعية الابتدائية الأهلية</h3>
            <h3 class="nav-hiden">فصل (___/___)</h3>
        </nav>
        <!-- navbar -->

        <!-- home -->
        <section class="home">
            <section class="container">

                <!-- time -->
                <section class="date">
                    <section class="time">
                        <span id="time"></span>
                    </section>
                    <section class="day">
                        <span id="day"></span>
                    </section>
                    <section class="datehijri">
                        <span id="dateH">
                            <%= hijriDate().format('iD / iM / iYYYY') %>
                        </span>
                    </section>
                    <section class="datem">
                        <span id="dateM"></span>
                    </section>
                </section>
                <!-- time -->

                <!-- Class statistics -->
                <section class="class-statistics">
                    <section class="boxs">
                        <section class="box">
                            <% if (arr.length> 0) { %>
                                <% arr.forEach((element, index)=> { %>
                                    <% if (index===arr.length - 1) { %>
                                        <h2>
                                            <%= index + 1 %>
                                        </h2>
                                        <% } %>
                                            <% }) %>
                                                <% } %>

                                                    <% if (arr.length <=0) { %>
                                                        <h2>0</h2>
                                                        <% } %>
                                                            <p>طالب</p>
                        </section>

                        <section class="box">
                            <% let presentCount=0; %>
                                <% let absentCount=0; %>
                                    <% arr.forEach(element=> { %>
                                        <% element.attendanceRecords.forEach(record=> { %>
                                            <% const currentDate=moment().format('YYYY-MM-DD'); %>
                                                <% const recordDate=moment(record.date).format('YYYY-MM-DD'); %>
                                                    <% if (recordDate===currentDate) { %>
                                                        <% if (record.status==='حاضر' ) { %>
                                                            <% presentCount++; %>
                                                                <% } else if (record.status==='غائب' ) { %>
                                                                    <% absentCount++; %>
                                                                        <% } %>
                                                                            <% } %>
                                                                                <% }); %>
                                                                                    <% }); %>
                                                                                        <h2>
                                                                                            <%= presentCount %>
                                                                                        </h2>
                                                                                        <p>حاضر</p>
                        </section>


                        <section class="box">
                            <h2>
                                <%= absentCount %>
                            </h2>
                            <p>غائب</p>
                        </section>
                    </section>
                </section>
                <!-- Class statistics -->

                <table class="list-table">
                    <tr>
                        <th>التاريخ الميلادي</th>
                        <th>التاريخ الهجري</th>
                        <th>اليوم</th>
                    </tr>
                    <tr>
                        <td id="dateTableM">

                        </td>
                        <td>
                            <%= hijriDate().format('iD / iM / iYYYY') %>
                        </td>
                        <td id="dayTable">

                        </td>
                    </tr>
                </table>

                <table class="list-table">
                    <tr>
                        <th>نسبة الغياب</th>
                    </tr>
                    <tr>
                        <td>
                            <% const totalRecords=arr.length; %>
                                <% const absentCountToday=arr.reduce((count, element)=> { %>
                                    <% const lastRecord=element.attendanceRecords[element.attendanceRecords.length - 1];
                                        %>
                                        <% if (lastRecord && moment(lastRecord.date).isSame(moment(), 'day' ) &&
                                            lastRecord.status==='غائب' ) { %>
                                            <% return count + 1; %>
                                                <% } %>
                                                    <% return count; %>
                                                        <% }, 0); %>
                                                            <% const absencePercentage=totalRecords> 0 ?
                                                                (absentCountToday /
                                                                totalRecords) * 100 : 0; %>
                                                                <%= absencePercentage.toFixed(1) %> %
                        </td>
                    </tr>
                </table>

                <table class="list-table">
                    <tr>
                        <th>م</th>
                        <th>الاسم</th>
                        <th>الحالة</th>
                        <th>الظواهر السلوكية</th>
                    </tr>
                    <% arr.filter(element=> { %>

                        <% const lastRecord=element.attendanceRecords[element.attendanceRecords.length - 1]; %>
                            <% return lastRecord && moment(lastRecord.date).isSame(moment(), 'day' ) &&
                                lastRecord.status==='غائب' ; %>
                                <% }).forEach((element, index)=> { %>
                                    <tr>
                                        <td scope="row">
                                            <%= index + 1 %>
                                        </td>
                                        <td>
                                            <%= element.fullName %>
                                        </td>
                                        <td>
                                            <%= element.attendanceRecords[element.attendanceRecords.length - 1].status
                                                %>
                                        </td>
                                        <td>
                                            <% const todayNotes=element.notes.filter(note=>
                                                moment(note.date).isSame(moment(), 'day')); %>
                                                <% if (todayNotes.length===0) { %>
                                                    #####
                                                    <% } else { %>
                                                        <% todayNotes.forEach(note=> { %>
                                                            <%= note.behavior %>
                                                                <% }) %>
                                                                    <% } %>
                                        </td>
                                    </tr>
                                    <% }) %>
                </table>

                <table class="list-table">
                    <tr>
                        <th>نسبة الحضور</th>
                    </tr>
                    <tr>
                        <td>

                            <% const presentCountToday=arr.reduce((count, element)=> { %>
                                <% const lastRecord=element.attendanceRecords[element.attendanceRecords.length - 1]; %>
                                    <% if (lastRecord && moment(lastRecord.date).isSame(moment(), 'day' ) &&
                                        lastRecord.status==='حاضر' ) { %>
                                        <% return count + 1; %>
                                            <% } %>
                                                <% return count; %>
                                                    <% }, 0); %>
                                                        <% const attendancePercentage=totalRecords> 0 ?
                                                            (presentCountToday /
                                                            totalRecords) * 100 : 0; %>
                                                            <%= attendancePercentage.toFixed(1) %> %
                        </td>
                    </tr>
                </table>

                <table class="list-table">
                    <tr>
                        <th>م</th>
                        <th>الاسم</th>
                        <th>الحالة</th>
                        <th>الظواهر السلوكية</th>
                    </tr>
                    <% arr.filter(element=> { %>
                        <% const lastRecord=element.attendanceRecords[element.attendanceRecords.length - 1]; %>
                            <% return lastRecord && moment(lastRecord.date).isSame(moment(), 'day' ) &&
                                lastRecord.status==='حاضر' ; %>
                                <% }).forEach((element, index)=> { %>
                                    <tr>
                                        <td scope="row">
                                            <%= index + 1 %>
                                        </td>
                                        <td>
                                            <%= element.fullName %>
                                        </td>
                                        <td>
                                            <%= element.attendanceRecords[element.attendanceRecords.length - 1].status
                                                %>
                                        </td>
                                        <td>
                                            <% const todayNotes=element.notes.filter(note=>
                                                moment(note.date).isSame(moment(), 'day')); %>
                                                <% if (todayNotes.length===0) { %>
                                                    #####
                                                    <% } else { %>
                                                        <% todayNotes.forEach(note=> { %>
                                                            <%= note.behavior %>
                                                                <% }) %>
                                                                    <% } %>
                                        </td>
                                    </tr>
                                    <% }) %>
                </table>

                <table class="list-table">
                    <tr>
                        <th>معلم الصف</th>
                        <th>المرشد الطلابي</th>
                        <th>مدير المدرسة</th>
                    </tr>
                    <tr>
                        <td style="height: 30px;"></td>
                        <td style="height: 30px;"></td>
                        <td style="height: 30px;"></td>
                    </tr>
                </table>
                <button class="btn print" onclick="printPage()">طباعة تقرير اليوم</button>
            </section>
        </section>
        <!-- home -->
    </main>

    <script src="js/all.js"></script>
    <script src="js/scribt.js"></script>
</body>

</html>